@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
/* google font) import -> font-family */

@import "reset.css";
/* reset the default browser css. + css file importing in css */
@import "variables.css";

/* components */
@import "components/statusbar.css";
@import "components/navbar.css";
@import "components/titleheader.css";
@import "components/titleheader2.css";
@import "components/profile.css";
@import "components/reds.css";
@import "components/function.css";
@import "components/settings.css";
@import "components/animation.css";
@import "components/media.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/search.css";
@import "screens/etc.css";
@import "screens/setting.css";
@import "screens/chat.css";

/* import order very important (cascading) */
body {
  font-family: "Unbounded", cursive;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--gray3);
}
.mainScreen {
  padding-right: var(--defaultPadding);
  padding-left: var(--defaultPadding);
}
a {
  text-decoration: none;
}
/* 기본 색깔을 여기 바디에 지정해주는 것도 좋다. */
