:root {
  --grey: rgba(0, 0, 0, 0.3);
  --grey2: rgba(0, 0, 0, 0.75);
  --grey3: rgba(240, 240, 240, 0.422);
  --defaultPadding: 30px;
  --greyBorder: 0.5px solid rgba(255, 255, 255, 0.5);

  --gray1: rgba(255, 255, 255, 0.5);
  --gray2: rgba(255, 255, 255, 0.7);
  --gray3: rgba(255, 255, 255, 0.9);
}
