.chatScreen {
  background-color: #abc1d1;
  height: 200vh;
}
.chatScreen__main {
  padding-top: 80px;
  z-index: 1;
}
.chatTime {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.chatTime span {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0.8;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 20px;
}
.chatYou img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}
.chatYou {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.chatYou__content {
  margin-left: 10px;
}
.chatYou__content--list:last-child {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
}
.chatYou__text {
  background: white;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.chatYou__time {
  margin-left: 5px;
  font-size: 10px;
}
.chatYou__content :not(.chatYou__text, .chatYou__content--list:last-child),
.chatMe__time {
  color: rgba(0, 0, 0, 0.4);
}
.chatMe {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
}
.chatMe__text {
  background-color: rgb(255, 234, 0);
  padding: 10px;
  border-radius: 15px;
  border-top-right-radius: 0;
}
.chatMe__time {
  margin-right: 5px;
  font-size: 10px;
}
.chatting {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: -30px;
  padding: 3px 15px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}
.chatting i:not(.chatting__send i) {
  color: rgba(0, 0, 0, 0.5);
}
.chatting__option {
  margin-right: 15px;
}
.chatting__box {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  position: relative;
}
.chatting__write {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  margin-left: 10px;
}
.chatting__emoticon {
  margin-right: 50px;
}
.chatting__send {
  background-color: rgb(255, 234, 0);
  color: black;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 3px;
}
