.suggestions__item img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.suggestions {
  margin-top: 40px;
  padding-top: 20px;
  border-top: var(--greyBorder);
}
.suggestions__list {
  margin-top: 20px;
  display: flex;
}
.suggestions__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.suggestions__name {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: var(--grey);
}
