.fNamedisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  color: var(--gray3);
  text-decoration: none;
}
.fNamedisplay__span {
  margin: 0 7px;
}
.fNamedisplay i {
  color: var(--gray3);
}
.foldBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
  margin: 15px 20px 0 20px;
  border-top: var(--greyBorder);
}
.foldBar :first-child {
  color: var(--gray1);
}
.foldBar__name {
  font-size: 15px;
}
