.navBar {
  position: fixed;
  /* fix는 레이아웃을 무조건 고정시키므로 width를 지정해줘야 한다. */
  width: 100%;
  bottom: 0px;
  padding: 20px 60px;
  box-sizing: border-box;
  /* box-sizing)
  border-box) 지정된 box 크기 = content+margin+padding+border
  content-box 지정된 box 크기 = content.
  일반적으로 content-box로 되있음. */
  background-color: rgb(58, 57, 57);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navBar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navBar__link {
  color: var(--gray3);
  position: relative;
  animation: goUp 1s linear 1s forwards;
  display: block;
  /* 블럭이 아니어서 애니메이션이 안됐던거임.. ㅅㅂ */
  transform: translateY(50px);
  opacity: 0;
  /* 시작 위치를 이런식으로 줘버리는 거임 */
}
@keyframes goUp {
  0% {
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.navBar__link__chatNotice {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.navBar__link__ellNotice {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
