.profile {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.profile__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__img {
  object-fit: cover;
  /* 사진 크기 조정 시 가로 세로 비율 유지 */
}
.profile__img--big {
  width: 70px;
  height: 70px;
  border-radius: 42%;
}
.profile__img--mid {
  width: 60px;
  height: 60px;
  border-radius: 42%;
}
.profile__img--small {
  width: 50px;
  height: 50px;
  border-radius: 42%;
}
.profile__text {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.profile__name {
  color: var(--gray3);
}
.profile__name--bolder {
  font-size: 20px;
  font-weight: 900;
}
.profile__name--bold {
  font-size: 20px;
  font-weight: 500;
}
.profile__name--light {
  font-size: 20px;
}
.profile__right--channel {
  display: flex;
  align-items: center;
}
.profile__right--channel :first-child,
.profile__message,
.profile__time {
  color: var(--gray3);
}
.profile__link {
  margin-left: 5px;
}
.profile__message {
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.profile__right--chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile__time {
  font-size: 12px;
}
.profile__chatNotice {
  position: relative;
  bottom: -10px;
}
.profile__message--notice {
  margin-left: 5px;
}
.profile__right--icon a {
  color: var(--gray3);
  text-decoration: none;
  margin-right: 10px;
}
