.titleHeader {
  padding: 52px 30px 17px 30px;
  display: flex;
  justify-content: space-between;
}
.titleHeader__name {
  font-size: 23px;
  font-weight: bolder;
  color: var(--grey2);
}
.titleHeader__item {
  display: flex;
  align-items: center;
}
.titleHeader__link {
  margin-left: 25px;
  color: var(--grey2);
  position: relative;
}
.titleHeader__link--new {
  position: absolute;
  bottom: 23px;
  left: 25px;
}
