.titleHeader {
  padding: 52px 30px 17px 30px;
  display: flex;
  justify-content: space-between;
}
.titleHeader__name {
  font-size: 23px;
  font-weight: bolder;
  color: var(--gray3);
}
.titleHeader__item {
  display: flex;
  align-items: center;
}
.titleHeader__link {
  margin-left: 25px;
  color: var(--gray3);
  position: relative;
}
.titleHeader__link:last-child i:hover {
  animation: bingle 1s linear infinite;
}
@keyframes bingle {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
.titleHeader__link--new {
  position: absolute;
  bottom: 23px;
  left: 25px;
}
